@media (min-width: 1100px) {

html, body {	padding: 1.1em; 
				height: 85%;
				padding-top: 60px;   }


.text-center-only {	text-align: center;	}

.enterprise-container {	width: 100%;  padding: 1.2em;}
.marginBottom {  margin-bottom: 1.1em;}

/*** ICONOS, TITLE Y SUBTITULO ***/
.min-height-box{
	height: 200px;
}



/***************************
	NAVBAR
************************/
@import url("__main_menu.less");

/***************************
	FOOTER
************************/
@import url("__footer.less");

}